* {
    margin: 0;
    padding: 0;
}


/* premiere entete*/

 .hover-li:hover {
   background-color:  rgba(18, 123, 155, 0.635);
   color:rgb(11, 45, 95);
   padding: 10px;
   transition: 0.s;
   padding: 10px;
 }
head{
    display: flex;
}

header .firsthead {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header .firsthead ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-size: 17px;
     margin: 15px 25px;
}

header .firsthead ul a {
    text-decoration: none;
    color: black;
}


/* deuxieme entete*/

header .secondhead {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

header .secondhead ul li {
    list-style: none;
    display: inline-block;
    margin: 15px 25px;
}

header .secondhead ul a {
    text-decoration: none;
    color: black;
}


/*LES SECTIONS*/


/*LES premiereSECTIONS*/

.container{
    display: flex;
    height: 700px;
    width: 100%;
    justify-content: space-between;
}

/* premier div*/
.container .secondDiv{
    scroll-snap-type: y mandatory;
    align-items: stretch;
    flex-wrap: wrap;
    width: 21%;
    height: 100%;
    padding: 40px;
margin-bottom: 20px;
    
}
.container .secondDiv div{
    width: 90%;
    height: 100%;
    padding: 40px;
    padding-top: 40px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/*deuxieme DIv*/
.container .thirdDiv{
    width: 63%;
    height: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 30px;
    
    
    
}

.container .thirdDiv div{
    width: 90%;
    height: 100%;
    padding: 40px;
    
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
    
}

/*troisieme div */
.container .fourDiv{
    width: 16%;
    height: 100%;
    
    align-items: stretch;
    flex-wrap: wrap;
    padding: 30px;
    
}
.container .fourDiv div{
    width: 90%;
    height: 100%;
    padding: 40px;
    padding-top: 50;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
