* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}


/* premiere entete*/

header .firsthead {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header .firsthead ul li {
    list-style: none;
    display: inline-block;
    aliceblue margin: 15px 25px;
}

header .firsthead ul a {
    text-decoration: none;
    color: black;
}


/* deuxieme entete*/

header .secondhead {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

header .secondhead ul li {
    list-style: none;
    display: inline-block;
    margin: 15px 25px;
}

header .secondhead ul a {
    text-decoration: none;
    color: black;
}


/*LES SECTIONS*/


/*LES premiereSECTIONS*/

.Mere {
    width: 100%;
    e;
}

.Mere .firstsection {
    width: 20%;
}